Django==4.2.29
django-cors-headers==4.9.0
faiss-cpu
groq==1.0.0
python-dotenv==1.2.1
sentence-transformers
transformers
torch
numpy
requests
tqdm
youtube-transcript-api
yt-dlp
gunicorn
psycopg2-binary
dj-database-url
whitenoise==6.5.0
